{% extends 'profile.html' %}
{% block profile %}

{% if session.get('unique_code') or session.get('reg_no') %}
<div class="profile_form_container form_container">
    <h1>Student Details</h1>
    <table>
        <thead>
            <tr>
                <th>Reg no</th>
                <th>Name</th>
                <th>Gmail</th>
                <th>Roll no</th>
                <th>Skill</th>
                <th>D.O.B</th>
            </tr>
        </thead>
        <tbody>
            {% for astudent in data %}
            <tr>
                <td>{{ astudent.reg_no }}</td>
                <td>{{ astudent.full_name }}</td>
                <td>{{ astudent.gmail }}</td>
                <td>{{ astudent.roll_no }}</td>
                <td>{{ astudent.skill }}</td>
                <td>{{ astudent.dob }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>


{% else %}
<section class="page no_page" id="nopage">
    <div class="nopage_container">
        <h1 class="title">404</h1>
        <h1 class="sub_title">Page Not Found</h1>
    </div>
</section>
{% endif %}
{% endblock %}