<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SMS{% block title %}{% endblock %} | kgisl</title>

    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>

    <!-- Nav bar -->

    <nav>
        <input type="checkbox" name="check" id="check">
        <a class="logo_outside logo" href="{{ url_for('home') }}">SMS</a>
        <label for="check" id="menu_icon" onclick="menu_icon()"><i class="fa fa-bars"></i></label>
        <ul>
            <li><a href="{{ url_for('home') }}">Home</a></li>
            <li><a href="{{ url_for('about') }}">About</a></li>
            <!-- <li><a href="{{ url_for('profile') }}">Profile</a></li> -->

            {% if session.get('reg_no') %}
                <li><a href="{{ url_for('profile') }}">Profile</a></li>
                <a class="logo_between logo" href="{{ url_for('home') }}">SMS</a>
                <li><a href="{{ url_for('logout') }}">Logout</a></li>
            {% else %}
                <li><a href="{{ url_for('register') }}">Register</a></li>
                <a class="logo_between logo" href="{{ url_for('home') }}">SMS</a>
                <li><a href="{{ url_for('login') }}">Login</a></li>
            {% endif %}

            <li><a href="{{ url_for('contact') }}">Contact</a></li>
        </ul>
    </nav>

    <!-- App -->
    {% block content %}
    <section>
        <h1>Home Page</h1>
    </section>
    {% endblock content %}


    <!-- Footer -->
    <footer class="footer_container">
        <div class="footer footer_left">
            <h1 class="title">Skills</h1>
            <p class="content">skills are an integral part of our personal and professional lives, and continuous
                learning and development are crucial for success. It is essential to identify and acquire the right set
                of skills to remain competitive and achieve our goals. </p>
        </div>

        <div class="footer footer_right">
            <h1 class="title">Follow us on</h1>
            <div class="social">
                <i class="fa fa-facebook"></i>
                <i class="fa fa-twitter"></i>
                <i class="fa fa-linkedin"></i>
                <i class="fa fa-instagram"></i>
            </div>
            <p class="credits">Designed and developed by <span class="team">SMS</span></p>
        </div>
    </footer>

    <script src="../static/js/script.js"></script>
</body>

</html>