{% block title %} - login{% endblock %}
{% extends 'base.html' %}
{% block content %}
{% if session.get('reg_no') %}
<section class="page no_page" id="nopage">
    <div class="nopage_container">
        <h1 class="title">404</h1>
        <h1 class="sub_title">Page Not Found</h1>
    </div>
</section>
{% else %}
<section class="form_page page" id="form">
    <div class="form_container">
        <form autocomplete="off" method = 'POST' action="{{ url_for('login') }}">
            <h1 class="title">Log In</h1>
            <div class="form_group">
                <input type="text" name="full_name" id="Name" placeholder="Full Name">
                <input type="email" name="gmail" id="email" placeholder="Email address">
            </div>
            <div class="form_group">
                <input type="number" name="reg_no" id="reg_no" placeholder="Reg NO">
                <input type="password" name="pwd" id="password" placeholder="password">
            </div>
            <input type="submit" value="Log In">

            <!-- Message -->
            <div class="message">
                <p>Don't have an account? <a href="{{ url_for('register') }}">Register</a></p>
                <p>| Log In as a Faculty <a href="{{ url_for('faculty_login') }}">Log In</a></p>
            </div>
        </form>
    </div>

</section>
{% endif %}
{% endblock content %}