{% block title %}- logout{% endblock %}
{% extends 'base.html' %}
{% block content %}
{% if session.get('reg_no') or session.get('unique_code') %}
<section class="logout_page">
    <div class="message">
        <p class="logout_message">Do you wants to Logout</p>
        <div class="controls">
            <a href="{{ url_for('logout') }}" class="btn">Yes</a>
            <a href="{{ url_for('profile') }}" class="btn">No</a>
        </div>
    </div>
</section>
{% else %}
<section class="page no_page" id="nopage">
    <div class="nopage_container">
        <h1 class="title">404</h1>
        <h1 class="sub_title">Page Not Found</h1>
    </div>
</section>
{% endif %}
{% endblock content %}