{% block title %} - login{% endblock %}
{% extends 'base.html' %}
{% block content %}
{% if session.get('reg_no') %}
<section class="page no_page" id="nopage">
    <div class="nopage_container">
        <h1 class="title">404</h1>
        <h1 class="sub_title">Page Not Found</h1>
    </div>
</section>
{% else %}
<section class="form_page page" id="form">
    <div class="form_container">
        <form autocomplete="off" action = "{{ url_for('register') }}" method = 'POST'>
            <h1 class="title">Register</h1>
            <div class="form_group">
                <input type="text" name="full_name" id="Name" placeholder="Full Name">
                <input type="email" name="gmail" id="email" placeholder="Email address">
            </div>
            <div class="form_group">
                <input type="text" name="roll_no" id="roll_no" placeholder="Roll NO">
                <input type="number" name="reg_no" id="reg_no" placeholder="Reg NO">
            </div>
            <div class="form_group">
                <input type="password" name="pwd" id="password" placeholder="password">
                <input type="password" name="cpwd" id="re_password" placeholder="Confirm password">
            </div>
            <input type="submit" value="Register">
            <div class="message">
                <p>Already have an account? <a href="{{ url_for('login') }}">Log In</a></p>
            </div>
        </form>
    </div>
</section>
{% endif %}
{% endblock content %}